header{
  background: #bbbbbb;
  padding: 20px 0;
}

.caixa{
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav{
  position: absolute;
  top: 110px;
  right: 0px;
}

nav li{
  display: inline;
  margin: 0 0 0 15px;
}

nav a{
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover{
  color: #C78C19;
  text-decoration: underline;
}


footer{
  text-align: center;
  background: url('bg.jpg');
}

footer .copyright{
  color: #FFFFFF;
  font-size: 13px;
  margin-top: 20px;
}

main{
  width: 940px;
  margin: 0 auto;
}

form{
  margin: 40px 0;
}

form label, form legend{
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.input-padrao{
  display: block;
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox{
  margin: 20px 0;
}

