/* importando e usando fontes do google */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&display=swap');

body{
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 14px;
}
.input-container {
  background: purple;
  position: relative;
  margin: 100px;
}

svg {
  position: absolute;
  left: 10px;
  top: calc(50% - 12px);
}

input {
  height: 45px;
  width: 300px;
  padding-left: 45px;
}